<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
  </head>

  <body>
    {{ if .NextPage }}
    <span>
      <a class="link-reverse" href="{{ .NextPage.Permalink }}">« {{ .NextPage.Title | truncate 50 "..." }}</a>
    </span>
    {{ end }}

    <span> | </span>

    {{ if .PrevPage }}
    <span>
      <a class="link-reverse" href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
    </span>
    {{ end }}


    <h1>{{ .Title }}</h1>
    <p>par {{ delimit (.Params.curators | default (slice "")) ", " " et " }}</p>
    <p>{{ .Params.description | markdownify }}</p>

    <hr>

    {{ $image := .Resources.GetMatch (string .Params.cover) }}
    {{ if $image }}
    {{ with $image }}
    {{ $img := .Fit "500x500"}}
    <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    {{ end}}
    {{ end}}
    <hr>

    <div>
      <span class="amplitude-play">PLAY</span>
      <span class="amplitude-pause">PAUSE</span>
    </div>

    <hr>

    {{ range $index, $track := .Params.tracks }}
    <div class="amplitude-song-container" data-amplitude-song-index="{{ $index }}">
      <span data-amplitude-song-info="name" data-amplitude-song-index="{{ $index }}"></span> - 
      <span data-amplitude-song-info="artist" data-amplitude-song-index="{{ $index }}"></span>
    </div>
    {{ end }}
    
    <hr>

    <div>
      {{ range .AlternativeOutputFormats -}}
        <a href="{{ .Permalink | safeURL }}">{{ .MediaType.Type }}</a> |
      {{ end -}}
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.3.2/dist/amplitude.js"></script>
    <script>
var tracks = JSON.parse({{ .Params.tracks | jsonify }});
var songs = [];
tracks.forEach(track => {
  songs.push({
    name: track.track.title,
    artist: track.track.artist,
    url: track.track.file,
    cover: track.track.cover
  })
});
Amplitude.init({
  "songs": songs
});
    </script>
  </body>
</html>